:any-link {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}
:any-link:hover {
  color: rgb(82, 82, 82);
}

.scroll {
  overflow-y: auto;
  max-height: 90vh;
}
::-webkit-scrollbar {
  display: none;
}

.pass-wrapper {
  position: relative;
  /* display: flex; */
  margin-bottom: 15px;
}

.eye {
  position: absolute;
  top: 30%;
  right: 7%;
  cursor: pointer;
}

.input {
  max-height: 52px;
}
.demo-toolbar-custom a {
  text-decoration: none;
  color: currentColor;
  margin: 0;
}

.pre-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background: #000;
}

.trashBtn {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  max-width: 20vw
}
