:any-link {
  text-decoration: none;
  color: rgb(17, 17, 17);
  cursor: pointer;
}
:any-link:hover {
  color: rgb(171, 171, 171);
}

.scroll {
  overflow-y: auto;
  max-height: 90vh;
}
::-webkit-scrollbar {
  display: none;
}
