body {
  background: linear-gradient(rgb(66, 72, 55), rgb(69, 64, 121));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
  background: linear-gradient(rgb(190, 202, 174), rgb(123, 123, 164));
}
